{% extends "base.html" %}
{% block connect %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for("static",filename="css/style.css")}}">
</head>
<body >
    <h1 class = "one">WELCOME TO ALL </h1>
    <H4>THIS IS OUR HOMEPAGE DA GUYS</H4>
    <h1>{{a}}</h1>
    {% for i in b %}
    <h1>{{i}}</h1>
    {% endfor %}
</body>
{% endblock %}
</html>